# Remove.bg API Configuration
VITE_REMOVE_BG_API_KEY=your_remove_bg_api_key_here

# 阿里云 OSS 配置
VITE_OSS_ACCESS_KEY_ID=LTAI5tFXSycVLjKiaJ8dpWYo
VITE_OSS_ACCESS_KEY_SECRET=490RG3KFD5ABEB1zHzGSfh13iHr4vM
VITE_OSS_BUCKET=reface
VITE_OSS_REGION=oss-cn-hangzhou

# 其他配置
VITE_APP_ENV=development